# Project exclude paths
.idea/
.gradle/
build/
buildSrc/.gradle/
buildSrc/build/
buildSrc/buildSrc/build/
buildSrc/buildSrc/.gradle/
common/compose-ui/build/
common/database/build/
common/edit/build/
common/main/build/
common/root/build/
common/utils/build/
desktop/build/
web/build/
buildSrc/buildSrc/.gradle/7.1.1/executionHistory/executionHistory.bin
buildSrc/buildSrc/.gradle/7.1.1/executionHistory/executionHistory.lock
buildSrc/buildSrc/.gradle/buildOutputCleanup/buildOutputCleanup.lock
buildSrc/buildSrc/.gradle/buildOutputCleanup/outputFiles.bin
.env
local.properties
backup/*.zip
backup/*.json
backup/*.sql
